<form class="form" action="/trees/add" method="post">

  <label for="image" class="form-item">
    Enter Image URL:
    <input type="text" name="image" value="{{image}}">
  </label>
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  <label for="owner" class="form-item">
    Storyteller:
    <input type="text" name="owner" value="{{owner}}">
  </label>
    
  
  <label for="origin" class="form-item">
    Home:
    <input type="text" name="origin" value="{{origin}}">
  </label>
  
  <label for="story" class="form-item">
    Memory:
    <input type="text" name="story" value="{{story}}">
  </label>
  <input type="submit" name="" value="Submit">
</form>