<form class="form" action="/trees/view/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  <label for="origin" class="form-item">
    Storyteller:
    <input type="text" name="origin" value="{{owner}}">
  </label>
  <label for="origin" class="form-item">
    Home:
    <input type="text" name="origin" value="{{origin}}">
  </label>
  <label for="story" class="form-item">
    Memory:
    <input type="text" name="owner" value="{{story}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>