
<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Name: {{breed}}</div>
  <div>Owner: {{owner}}</div>
  <div>Origin: {{origin}}</div>
  <div>Story: {{Story}}</div>
  <a href="/trees/edit/{{id}}">Edit</a>
</div>
