
<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Storyteller: {{owner}}</div>
  <div>Home: {{origin}}</div>
  <div>Memory: {{Story}}</div>
  <a class="edit" href="/trees/edit/{{id}}">Edit</a>
</div>
